@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

h2{
    font-family: Ubuntu, sans-serif;
    text-transform: uppercase;
    text-align: center;
    margin-top: 100px;
}

h1{
    font-family: Ubuntu, sans-serif;
    font-size: 45px;
    text-align: center;
    margin-top: 20px;
}

p{
    font-family: 'Open Sans',sans-serif;
    text-align: center;
    margin-top: 20px;
}

.images img{
    height: 250px;
    width: 250px;
    border-radius: 30px;
    margin: 10px;
}

.images{
    margin-top: 40px;
    display: flex;
    justify-content: center;
   
}